/*Default button class*/
.rcf-button {
	border-radius:6px;
	display:inline-block;
	cursor:pointer;
	padding:6px 24px;
	text-decoration:none;
}

.rcf-button:active {
	position:relative;
	top:1px;
}

.rcf-button[disabled],
.rcf-button[disabled]:hover,
.rcf-button[disabled]:focus
.rcf-button[disabled]:active{
	color: #00000040;
    border-color: #d9d9d9;
    background: #f5f5f5;
    text-shadow: none;
    box-shadow: none;
}

.rcf-button[disabled]{
	cursor: not-allowed;
}

.rcf-button[disabled]{
    border-color: #d9d9d9;
    background: #f5f5f5;
    text-shadow: none;
    box-shadow: none;
}
/*End of Default Class*/

/*Disabled Link*/
.rcf-button.link[disabled],
.rcf-button.link[disabled]:hover,
.rcf-button.link[disabled]:focus
.rcf-button.link[disabled]:active{
	background-color: transparent;
	background: transparent;
}
/*End ofDisabled Link*/

/*Primary*/
.rcf-primary {
	box-shadow:inset 0px 1px 0px 0px #a4e271;
	background-color:#89c403;
	border:1px solid #89c403;
	color:#ffffff;
	text-shadow:0px 1px 0px #528009;
}
.rcf-primary:hover {
	background-color:#77a809;
}

/*End of Primary Class*/

/*Secondary Class*/
.rcf-secondary {
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background-color:#3d94f6;
	border:1px solid #337fed;
	color:#ffffff;
	text-shadow:0px 1px 0px #1570cd;
}

.rcf-secondary:hover {
	background-color:#2e6eb8;
}
/*End of Secondary Class*/

/*Link Class*/
.rcf-link {
	background-color: transparent;
	border: 0px;
	color:#1570cd;
}
/*End of Link Class*/

/*Size Small*/
.rcf-button.rcf-small {
	height: 24px;
	line-height: 12px;
}

.rcf-button.rcf-medium {
	height: 32px;
	line-height: 17px;
}

.rcf-button.rcf-large{
	height: 40px;
	line-height: 20px;
}
/*End of Size Small*/